header {
    position: relative;
    padding-bottom: 8rem;
}
header::after {
    position: absolute;
    content: "";
    background-image:  url('../images/women-in-computer-science-large.jpg');
    background-repeat: no-repeat;
    background-position: -500px -800px;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
header > div.text {
    max-width: 60rem;
    margin-top: 10rem;
    margin-left: 3rem;
}
header > div.text div.clearfix {
    margin-top: 8rem;
}
header > div.text p.tagline {
    line-height: 3.5rem;
    max-width: 60rem;
    background-color: #f9f9f9;
    line-height: 3rem;
    display: inline;
    font-size: 2rem;
}
header > div.text p.title {
    max-width: 60rem;
    background-color: #666;
    line-height: 6rem;
    display: inline;
    color: #f9f9f9;
    font-size: 4rem;
}
header li {
    font-size: 1.8rem;
    margin-left: 8rem;
}
main {
    margin-top: 8rem;
}
main > p {
    margin: 5rem 3rem 2rem 3rem;
    font-size: 1.8rem;
}
mark {
    padding: 0 0.5rem 0 0.5rem;
}
footer {
    background-color: #254061;
    color: #fff;
    margin-top: 5rem;
    padding-top: 5rem;
}
footer dt {
    font-weight: bold;
}
footer dt
, footer dd {
    font-size: 1.5rem;
}
table tr th
, table tr td {
    font-size: 2rem;
}
div.divider {
    margin-top: 10rem;
    padding: 1rem 0 5rem 0;
    background-color: #eee;
}
.contributors > .row > .column
, .spotlight > .row > .column {
    text-align: center;
}
.center {
    text-align: center;
    max-width: 120px !important;
    margin-left: 6rem !important;
    margin-bottom: 10rem !important;
}
.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}
.wider {
    max-width: 140rem;
}
.lower {
    margin-top: 5rem;
}
.spotlight img {
    width: 50%;
}
.schedule {
    background-color: #F37321;
    color: #f8f8f8;
    padding: 2rem;
}
.schedule h3 {
    margin-bottom: 5rem;
}
.speakers {
    background-color: #eee;
    padding: 2rem;
}
.speakers .row {
    margin-bottom: 2rem;
}
.speakers .row img {
    width: 50rem;
    padding-top: 0.5rem;
}
.speakers h3 {
    margin-bottom: 5rem;
}
.card {
    position: relative;
    top: -14rem;
    left: 1rem;
}
.card h3
, .card h4
, .card p {
    background-color: #666;
    line-height: 4rem;
    display: inline;
    color: #f8f8f8;
    padding-left: 1rem;
    padding-right: 1rem;
}
.faq {
    background-color: #4786B3;
    color: #f8f8f8;
    padding: 2rem;
}
.faq .left {
    padding-right: 5rem;
}
.faq .right {
    padding-left: 5rem;
}
.faq dt {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.faq dd {
    font-size: 1.6rem;
    margin-bottom: 4rem;
}
.grouping {
    margin: 10rem 0 5rem 0;
    padding-top: 3rem;
    border-top: 1px solid #ccc;
}
.logo {
    margin-top: 5rem;
}
.host {
    width: 40rem;
}
.partner {
    width: 40rem;
}
.food-sponsor {
    width: 25rem;
}
.sponsor {
    width: 20rem;
}
#keating {
    background-image: url('../images/skeating.jpg');
    background-position: 80% 40%;
    background-size: 400px;
}
#callwood {
    background-image: url('../images/acallwood.jpg');
    background-position: 45% 70%;
    background-size: 400px;
}
#taylor {
    background-image: url('../images/rtaylor.jpg');
    background-position: 80% 20%;
    background-size: 400px;
}
#register {
    text-align: center;
}
#register .button {
    font-size: 5rem !important;
    height: 8rem !important;
    line-height: inherit !important;
    border-radius: 1rem;
}
@media (min-width: 40.0rem) {
    main > p {
        margin: 5rem 10rem 2rem 10rem;
    }
}
