header > div {
    width: 48%;
}
header > div >h4 {
    margin-top: 10rem;
    line-height: 3.5rem;
}
header li {
    font-size: 1.8rem;
    margin-left: 8rem;
}
main {
    margin-top: 8rem;
}
main > p {
    margin: 5rem 10rem 2rem 10rem;
    font-size: 1.8rem;
}
mark {
    padding: 0 0.5rem 0 0.5rem;
}
footer {
    background-color: #254061;
    color: #fff;
    margin-top: 5rem;
    padding-top: 5rem;
}
footer dt {
    font-weight: bold;
}
footer dt
, footer dd {
    font-size: 1.5rem;
}
.contributors > .row > .column
, .spotlight > .row > .column {
    text-align: center;
}
.spotlight img {
    width: 50%;
}
.grouping {
    margin: 10rem 0 5rem 0;
    padding-top: 3rem;
    border-top: 1px solid #ccc;
}
.host.logo {
    width: 40rem;
}
.partner.logo {
    width: 30rem;
}
.sponsor.logo {
    width: 20rem;
}
