header {
    position: relative;
    padding-bottom: 8rem;
}
header::after {
    position: absolute;
    content: "";
    background-image:  url('../images/women-in-computer-science-large.jpg');
    background-repeat: no-repeat;
    background-position: -500px -800px;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
header > div.text {
    max-width: 60rem;
    margin-top: 10rem;
    margin-left: 3rem;
}
header > div.text div.clearfix {
    margin-top: 8rem;
}
header > div.text p.tagline {
    line-height: 3.5rem;
    max-width: 60rem;
    background-color: #f9f9f9;
    line-height: 3rem;
    display: inline;
    font-size: 2rem;
}
header > div.text p.title {
    max-width: 60rem;
    background-color: #666;
    line-height: 6rem;
    display: inline;
    color: #f9f9f9;
    font-size: 4rem;
}
header li {
    font-size: 1.8rem;
    margin-left: 8rem;
}
main {
    margin-top: 8rem;
}
main > p {
    margin: 5rem 3rem 2rem 3rem;
    font-size: 1.8rem;
}
mark {
    padding: 0 0.5rem 0 0.5rem;
}
footer {
    background-color: #254061;
    color: #fff;
    margin-top: 5rem;
    padding-top: 5rem;
}
footer dt {
    font-weight: bold;
}
footer dt
, footer dd {
    font-size: 1.5rem;
}
table tr th
, table tr td {
    font-size: 2rem;
    border-bottom-color: #606c76;
}
div.divider {
    margin-top: 10rem;
    padding: 1rem 0 5rem 0;
    background-color: #eee;
}
.contributors > .row > .column
, .spotlight > .row > .column {
    text-align: center;
}
.spotlight img {
    width: 50%;
}
.schedule {
    background-color: rgb(255, 185, 155);
    padding: 2rem;
}
.faq {
    background-color: #4786B3;
    color: #f8f8f8;
    padding: 2rem;
}
.grouping {
    margin: 10rem 0 5rem 0;
    padding-top: 3rem;
    border-top: 1px solid #ccc;
}
.logo {
    margin-top: 5rem;
}
.host {
    width: 40rem;
}
.partner {
    width: 40rem;
}
.food-sponsor {
    width: 25rem;
}
.sponsor {
    width: 20rem;
}
.problems img {
    width: 8rem;
}
@media (min-width: 40.0rem) {
    main > p {
        margin: 5rem 10rem 2rem 10rem;
    }
}
